.header-container {
  display: flex;
  height: 60px;
  padding: 10px;
  width: 1135px;
  margin-left: 12%;
  align-items: center;
  margin-right: auto;
  justify-content: space-between;
}
.header-counter {
  padding-right: 10px;
  cursor: pointer;
  text-decoration: none;
  position: relative;
}

.header-like{
  margin-left: 75%;
}

.header-count{
  display: inline-block;
  padding: 3px 7px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  position: absolute;
  background: #FFA542;
  border-radius: 10px;
  left: 14px;
  top: -7px;
}